<!doctype html>
<html lang="en-gb" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
    <title>Portfolio</title>
    <meta name="description" content="">
  
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/da-slider.css" />
    <link rel="stylesheet" href="css/styles.css" />
    
    <link href="css/font-awesome.min.css" rel="stylesheet">
</head>

<style>
    .logo {
        position: absolute;
        right: 0;
        top: 15;
    }
</style>
<body>


    {{{body}}}
 
    <div id="#top"></div>
    <section id="home">
        <!--Top Social Media Logos and Links-->
        <div class="banner-container">
            <img src="images/banner-bg.jpg" alt="banner" />
            <div class="container banner-content">
                <div class="row">
                    <header class="centered">
                        <h1>Ayman Sbeiti</h1>
                        <p>PROFESSIONAL SOFTWARE DEVELOPPER</p>
                    </header>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/ayman.s.ayman.3"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/ayman-sbeiti-964492160/"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                    <a href="#" class="hireMe">Hire Me</a>
                </div>
            </div>
            <!--End-->
    </section>


    <section id="introText">
        <div class="container">
            <!--Introduction-->
            <div>
                <h1>I create fully fonctional softwares and mobile applications </h1>
                <p>Mobile apps are among the best forms of performance support available today, and just like any professional for whom ‘information’ is the key, learning designers too could greatly benefit from mobile app solutions.</p>
            </div>
            <!--End-->
        </div>
    </section>
    <section id="aboutme">
        <!-- A brief intro about my position-->
        <div class="container">
            <div class="row">
                <div class="col-md-4 tileBox"> <img src="images/Me.png" alt="me" /> </div>
                <div class="col-md-8 tileBox">
                    <div class="txtHead">
                        <h2>Hello, I am Ayman Sbeiti...</h2>
                        <h3> Full stack Software developper Based in Toronto, Canada.</h3>
                    </div>
                    <p>
                        <!-- Introduction Part 2 -->
                           I am living here, independently, as a hard working employee and passionate student, being guided ever since I was young into one of the most complex and and difficult to achieve career, as software developer. Moreover, I am studying at Centennial College in Toronto and I have been trying several jobs, being evaluated as a kind, devoted and responsible employee.
                        <br />
                        <br />

                    </p>
                </div>
                <!-- end: -->
            </div>
        </div>
    </section>
    <!--Quote-->
    <section id="quote" class="bg-parlex">
        <div class="parlex-back">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">      <h2>“Dreams are extremely important. You can’t do it unless you imagine it.” <span>-George Lucas</span></h2></div>
                </div>
            </div>
        </div>
    </section>
    <!--End-->

    
    <section id="services" class="secPad white">
        <div class="container">
            <div class="heading ">
            <!--services-->
                <!-- Heading -->
                <h2>Services</h2>
                <p>As a software developer I can provide a wide variety of services like building websites or applications based on any industrial domain such as gaming, marketing, transportation and so on.</p>
            </div>
            <!--End-->
            <!--Skills-->
            <div class="row skillContainer">
                <div class="col-md-4 skillBox">
                    <div id="diagram-id-1" class="diagram" data-percent="95.2%"></div>
                    <div class="chart-text">
                        <h4>Visual Studio</h4>
                        <p>Exp 3 years</p>
                    </div>
                </div>
                <div class="col-md-4 skillBox">
                    <div id="diagram-id-2" class="diagram" data-percent="75.2%"></div>
                    <div class="chart-text">
                        <h4>C#</h4>
                        <p>Exp 3 years</p>
                    </div>
                </div>
                <div class="col-md-4 skillBox">
                    <div id="diagram-id-3" class="diagram" data-percent="85.6%"></div>
                    <div class="chart-text">
                        <h4>Android Studio</h4>
                        <p>Exp 1 year</p>
                    </div>
                </div>
            </div>
            <!--End-->
            <div class="row">
                <!--Skills-->
                <div class="col-sm-6">
                    <h2>Programming Skills</h2>
                    <p class="mrgBtm20"> Because I experienced many and different jobs, I had the possibility of building several services such as patience and aesthetic view. In this way I also want to mention that I have developed a professional critical sense in game development through my passion that I remained stable with and that also guided me into this career. </p>
                </div>
                <div class="col-sm-6">
                    <br />
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-2 skilltitle"><b>C#</b></div>
                        <div class="col-md-10">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> <span class="sr-only">90% Complete</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle"><b>JavaScript</b></div>
                        <div class="col-md-10">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> <span class="sr-only">80% Complete</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle"><b>Visual Studio</b></div>
                        <div class="col-md-10">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 skilltitle"><b>Android Studio</b></div>
                        <div class="col-md-10">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="sr-only">75% Complete</span> </div>
                            </div>
                        </div>
                    </div>
                    <!--End-->
                </div>
            </div>
        </div>
    </section>

    <!--Experience-->
    <section id="experience" class="secPad">
        <div class="container">
            <div class="heading">
                <!-- Heading -->
                <h2>Experience</h2>
                <br />
                <h4>3 Years Experience!</h4>
                <p>During the time that I have spent in college I have learnt to work in different programs, using several languages. Facing so many programs and industries such as web development, application development and game development, it offers me a wide selection for my future career. In this way, I mention that I have experience in web and game development but the most important, in application development. I am currently working in Android Studio that offers me the possibility of building applications adapted on android operation system.</p>
            </div>

            <!--End-->
    </section>

    <!--projects-->
    <section id="projects" class="page-section section appear clearfix secPad">
        <div class="container">
            <div class="heading">
                <!-- Heading -->
                <h2>Projects</h2>
                <p>The steps I followed in college gave me the knowledge to fulfil several projects. One of them is a game project called Unfortunate Heart, that required me to build, design and program a full game from scratch using Unity. Moreover I completed a banking windows application in Visual Studio using C# where the customers can manage their account, withdraw or deposit money, in other words, that fits their needs. In addition to what I mentioned, I also completed a web browser HTML5 game called The Dragon Slayer.</p>
            </div>
            <div class="row">
                <!--Listing Navigation bar for Projects-->
                <nav id="filter" class="col-md-12">
                    <ul>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".Unity">Unity </a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".HTML5">HTML5</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".VisualStudio">Visual Studio C#</a></li>
                    </ul>
                </nav>
                <div class="col-md-12">
                    <!--Assigning the projects-->
                    <div class="row">
                        <div class="projects-items isotopeWrapper clearfix" id="3">
                            <article class="col-sm-4 isotopeItem Unity">
                                <div class="projects-item">
                                    <img src="images/Project1.png" alt="" />
                                    <div class="projects-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/Project1.png" class="fancybox">
                                                <h5>Project Name (View Full Image)</h5>
                                                <i class="fa fa-plus-square-o fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4 isotopeItem VisualStudio">
                                <div class="projects-item">
                                    <img src="images/Project2.png" alt="" />
                                    <div class="projects-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/Project2.png" class="fancybox">
                                                <h5>Banking Application (View Full Image)</h5>
                                                <i class="fa fa-plus-square-o fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4 isotopeItem HTML5">
                                <div class="projects-item">
                                    <img src="images/Project3.png" alt="" />
                                    <div class="projects-desc align-center">
                                        <div class="folio-info">
                                            <a href="images/Project3.png" class="fancybox">
                                                <h5>Dragon Slayer (View Full Image)</h5>
                                                <i class="fa fa-plus-square-o fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                             </article>
                        </div>
                    </div>
                    <!--End-->
                </div>
            </div>
        </div>
    </section>

    <!--Contact -->
    <section id="contactUs" class="page-section secPad">
        <div class="container">
            <div class="row">
                <div class="heading">
                    <!-- Heading -->
                    <h2>Let's Keep In Touch!</h2>
                    <p>Thank you for visiting out my profile. If you would like to get into contact with me, please fill out the form below.</p>
                </div>
            </div>
            <div class="row mrgn30">
                <!--Contact Us form -->
                <div class="col-sm-12 col-md-8">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" class="form-control"
                                       placeholder="Full Name" id="name" required
                                       data-validation-required-message="Please enter your name" />
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="email" class="form-control" placeholder="Email"
                                       id="email" required
                                       data-validation-required-message="Please enter your email" />
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <textarea rows="10" cols="100" class="form-control"
                                          placeholder="Message" id="message" required
                                          data-validation-required-message="Please enter your message" minlength="5"
                                          data-validation-minlength-message="Min 5 characters"
                                          maxlength="999" style="resize:none"></textarea>
                            </div>
                        </div>
                        <div id="success"> </div> <!-- For success/fail messages -->
                        <button type="submit" class="btn btn-primary pull-right">Send</button><br />
                    </form>
                </div>
                <!--End-->
                <div class="col-sm-4">
                    <h4>Address:</h4>
                    <address>
                        Ayman Sbeiti<br>
                        25 Earlthorpe Cres<br>
                        Scarborough, ON M1H2P8 Canada <br>
                    </address>
                    <h4>Phone:</h4>
                    <address>
                        +1(437)774-9825<br>
                    </address>
                </div>
            </div>
        </div>
    </section>

    <!--CopyRight-->
    <footer class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="social pull-left"> <a href="#"><i"></i></a> <a href="#"><i class="fa fa-facebook"></i></a></div>
                </div>
                <div class="col-md-6"> <span class="pull-right">Copyright 2021 | All Rights Reserved  -- </> by Ayman Sbeiti</span> </div>
            </div>
        </div>
    </footer>
    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>
    <!--End-->

    <script src="js/modernizr-latest.js"></script>
    <script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="js/jquery.nav.js" type="text/javascript"></script>
    <script src="js/jquery.cslider.js" type="text/javascript"></script>
    <script src="js/jquery.diagram.js"></script>
    <script src="contact/jqBootstrapValidation.js"></script>
    <script src="contact/contact_me.js"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="js/owl-carousel/owl.carousel.js"></script>
</body>
</html>
